.inline-meta {
	display: inline-block !important;
	margin-left: 6px !important;
	margin-top: 0px;
}

.control {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 1em;
	right: 2rem;
	&> li {
		display: inline-block;
		margin: 0 0 0 12px;
		&> i {
			font-size: 1em;
			cursor: pointer;
		}
	}	
}
